Source: webkitkde
Section: web
Priority: optional
Maintainer: Adrien Grellier <adrien.grellier@laposte.net>
Build-Depends: cmake, debhelper (>= 9), kdelibs5-dev (>= 4:4.6), libqtwebkit-dev, pkg-kde-tools
Standards-Version: 3.9.3
Homepage: http://techbase.kde.org/Projects/WebKit
Vcs-Git: git://git.debian.org/pkg-kde/kde-extras/webkitkde.git
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/webkitkde.git

Package: kpart-webkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libkwebkit-dev
Description: WebKit KPart
 This package contain a Plug-In for the Konqueror web browser and other KDE 
 applications allowing the WebKit HTML renderer to be used instead of the 
 traditional KHTML.

Package: kpart-webkit-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kpart-webkit (= ${binary:Version})
Description: WebKit KPart - debugging symbols
 This package contain a Plug-In for the Konqueror web browser and other KDE 
 applications allowing the WebKit HTML renderer to be used instead of the 
 traditional KHTML.
 .
 This package is part of Webkit KPart.
 

